/* ==========================================================================
News and Emails Responsive
========================================================================== */

/* Responsive: Desktop small
========================================================================== */
@media (max-width : 1224px) {
    .ty-subscribe-block__form {
        width: 220px;
    }
}

/* Responsive: Tablet and phone
========================================================================== */
@media (max-width: 979px) {
    .ty-subscribe-block__form {
        width: 80%;
    }
}

/* Responsive: Tablet to desktop
========================================================================== */
@media (min-width: 768px) and (max-width: 979px) {
    .ty-subscribe-block__form {
        width: 220px;
    }
}

/* Responsive: Landscape phone to desktop/tablet
========================================================================== */
@media (max-width: 767px) {
    .ty-subscribe-block__title {
        display: block;
        padding-right: 0;
    }
    .ty-subscribe-block {
        text-align: center;
        margin: 20px 0px 0px 0px;
    }
    .ty-news__title {
        margin-top: 50px;
    }
    .ty-news__title .ty-news__date {
        float: left;
        margin-top: -25px;
        margin-left: 0;
    }

}
/* /News and Emails responsive */