/* ==========================================================================
Social buttons
========================================================================== */
.ty-social-buttons {
    margin: 20px 0px;
}
.ty-social-buttons__inline {
    display: inline-block;
    margin: 5px 20px 10px 0;
    float: left;
}
.ty-social-buttons__list {
    margin-top: 20px;
    width: 180px;
}
.ty-social-buttons__list-item {
    margin: 5px;
}
.ty-social-buttons__email-sharing {
    text-decoration: none;
}
.ty-social-buttons__email-icon {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
}
/* Social buttons */