/* ==========================================================================
Buy together Responsive
========================================================================== */

/* Responsive: Tablet and phone
========================================================================== */

@media (max-width: 979px) {
    .ty-buy-together__products {
        white-space: normal;
    }
    .ty-buy-together__product {
        width: 175px;
    }
}
/* Responsive: Landscape phone to desktop/tablet
========================================================================== */

@media (max-width: 767px) {
    .ty-buy-together__product {
        display: block;
        margin: 0;
        width: 100%;
    }
    .ty-buy-together__plus {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}
/* /Buy together responsive*/