<h3 class="ty-mainbox-title">{$product.product nofilter}</h3>
<div class="ty-age-verification__txt ty-mb-m">{if $product.age_warning_message}{$product.age_warning_message}{else}{$age_warning_message}{/if}</div>