{** block-description:tmpl_logo **}
<div class="ty-logo-container">
    <a href="{""|fn_url}" title="{$logos.theme.image.alt}">
        <img src="{$logos.theme.image.image_path}" style="width:{$logos.theme.image.image_x}px; height:{$logos.theme.image.image_y}px;" alt="{$logos.theme.image.alt}" class="ty-logo-container__image">
    </a>
</div>