// ==========================================================================
// Alerts & Notifications
// ==========================================================================

.ajax-inner-loading-box {
    margin: 0 10px 0 5px;
    padding: 6px 0 6px 27px;
    color: #fff;
    font-weight: bold;
    display: none;
}

.ajax-loading-box {
    position: fixed;
    right: 50%;
    display: none;
    z-index: 100001;
    top: 50%;
    padding: 0px;
    left: 50%;
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;
    background:url('../media/images/icons/ajax_loader.gif') no-repeat 10px 10px #0d0d0d;
    opacity: .8;
    .border-radius(5px);
    overflow: visible;
}

.ajax-loading-box-with-text {
    min-width: 120px;
    min-height: 76px;
    background-position: 44px 10px;
}
.ajax-loading-box-with-text span {
    color: #FFF;
    margin-top: 50px;
    display: block;
    margin-left: 0px;
    width: 110px;
    padding: 0px 5px 5px 5px;
    text-align: center;
}

.ajax-message {
    position: absolute;
    z-index: 700;
    display: none;
    padding: 10px;
    width: 339px;
    border: 1px solid #000;
    background-color: #f4fbff;
}

.ajax-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    display: none;
}

li.small-description {
    color: #898989;
}

.notification-content-extended {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1031;
    margin: -40px 0 0 -320px;
    min-height: 140px;
    width: 640px;
    color: #000;
    background-color: #fff;
    border: 1px solid gray;
}

.notification-body-extended {
    color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}
.notification-container {
    position: fixed;
    top: 0;
    right: 40px;
    z-index: 1022;
    min-width: 300px;
    width: 40%;
}

.notification-container-top {
    top: 10px;
}

.notification-content {
    position: relative;
    .box-sizing(border-box);
    padding: 10px 35px 10px 18px;
    line-height: 150%;
}

.notification-content strong {
    margin-right: 7px;
}

.alert-success, .alert-warning, .alert-error {
    position: relative;
    margin: 7px 0 7px 0;
    border: 1px solid;
    font-size: 100%;
    opacity: 0.96;
}

.close {
    position: absolute;
    top: 5px;
    right: 7px;
}

.notification-content-extended h1 {
    position: relative;
    padding: 13px 20px 10px;
    border: none;
    border-bottom: 1px solid #BDC3C7;
    background: #F8F9F9;
    font-size: 18px;
    font-weight: normal;
    .border-radius(0px);
}

.notification-content-extended h1 span {
    position: absolute;
    top: 15px;
    right: 14px;
    width: 16px;
    height: 16px;
    font: 13px/1 'glyphs';
    color: #acacac;
    text-shadow: none;
    opacity: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.notification-content-extended h1 span:before {
    font-family: 'glyphs';
    content: "\e009";
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.notification-content-extended h1 span:hover {
    color: #dfdfdf;
    opacity: 1;
}

.alert-success {
    border-color: #8bc045;
    background: #d0eaae;
    color: #496e16;
}
.alert-success .close {
    color: #496e16;
}

.alert-warning {
    border-color: #F39C12;
    background: #F5E08C;
    color: #AC6E0B;
}

.alert-warning .close {
    color: #AC6E0B;
}

.alert-error {
    border-color: #C0392B;
    background: #EB7064;
    color: white;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 15px;
    float: right;
    font-size: 20px;
    color: white;
}

.close:hover {
    text-decoration: none;
    cursor: pointer;
}