/* ==========================================================================
Buttons
========================================================================== */
.ty-btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    outline: 0px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    .transition(background 200ms );
    color: #fff;
    background: #1abc9c;
}

.ty-btn + .ty-btn {
    margin-left: 10px;
}

.ty-btn i {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.ty-btn:hover {
    text-decoration: none;
    color: #FFF;
    background: #48C9B0;
}

.ty-btn__big {
    text-transform: uppercase;
    font-size: 14px;
    padding: 4px 17px;
}

.ty-btn__text, .ty-btn__text:hover {
    background: none;
    color: #1abc9c;
    padding: 0px;
}

.ty-btn__danger {
    color: #fff;
    background: #E74C3C;
}

.ty-btn__danger:hover {
    color: #FFF;
    background: #EC7063;
}

.ty-btn__danger.ty-btn__text {
    color: #EC7063;
}

.ty-btn__action {
    color: #fff;
    background: #F1C40F;
}

.ty-btn__action:hover {
    color: #FFF;
    background: #F5D313;
}

.ty-btn__default {
    color: #FFF;
    background: #BDC3C7;
}

.ty-btn__default:hover {
    color: #FFF;
    background: #CACFD2;
}

.ty-btn__text, .ty-btn__text:hover {
    background: none !important;
}

.ty-buttons-container .ty-buttons-container {
    margin-top: 0;
}

.ty-btn-go {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    width: 32px;
    height: 30px;
    border: 0px;
    border-left: 1px solid #cdcdcd;
    background: #f6f6f6;
    cursor: pointer;
}
.ty-btn-go__icon {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 20px;
    line-height: 20px;
}