// ==========================================================================
// Form styles
// ==========================================================================

.ty-input-append {
    position: relative;
    margin: 10px 0 0 0;
}

.ty-input-append .input-text {
    width: 100%;
}

.ty-control-group {
    margin: 0 0 15px 0;
    vertical-align: middle;
    .clearfix();
}
.ty-control-group__label {
    float: left;
    padding: 6px 0;
    margin-right: 10px;
    width: 110px;
    color: darken(@font, 10%);
}
.ty-control-group__title {
    display: block;
    padding: 6px 0;
    font-weight: bold;
}
.ty-control-group__item {
    display: inline-block;
    padding: 6px 0;
}

.ty-control-group label.hidden {
    display: none;
}

.ty-select-field {
    padding: 3px 0;
}
.ty-select-field__label {
    display: block;
    padding: 3px 0;
    margin-right: 10px;
    font-size: 90%;
}
.ty-select-field__checkbox {
    vertical-align: middle;
}

input[type="text"],
input[type="password"],
textarea,
select {
    .box-sizing(border-box);
    padding: 4px 8px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
    height: 32px;
}

input[type="text"].cm-failed-field,
input[type="password"].cm-failed-field,
textarea.cm-failed-field,
.cm-field-container.cm-failed-field input[type="text"] {
    border: 1px solid #bf4d4d;
    background: #fff;
}

label.cm-failed-label {
    color: #bf4d4d;
}

select[multiple="multiple"] {
    min-height: 80px;
}

.disabled,
select.disabled {
    background-color: #e3e3e3;
}

.input-text {
    width: auto;
}

.input-text-medium {
    width: 400px;
}

.input-text-large {
    width: 550px;
}

.input-text-short {
    width: 50px;
}

.input-text-full {
    width: 100%;
}

.input-textarea {
    resize: vertical;
}

.input-textarea-long {
    width: 90%;
}

.input-textarea-product-options {
    min-width: 50%;
    min-height: 60px;
    resize: vertical;
}

.textarea-resize {
    min-height: 90px;
    resize: vertical;
}

.input-text-100 {
    width: 100%;
}

.radio,
.checkbox,
input[type="radio"],
input[type="checkbox"] {
    margin: 0 6px 0 0;
    padding: 0;
    vertical-align: middle;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: 0;
    border-color: #1abc9c;
    .transition(border 0.2s linear 0s, box-shadow 0.2s linear 0s);
}

select {
    padding: 4px 3px 3px;
    min-width: 4em;
    max-width: 100%;
    height: 2.2em;
    line-height: 2.2em;
}

.error-text {
    color: #b94a48;
}
