// ==========================================================================
// Menus
// ==========================================================================

ul.ty-dropdown,
ul.ty-dropdown li,
ul.ty-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.ty-dropdown {
    position: relative;
    z-index: 100;
    padding-top: 1px;
}

ul.ty-dropdown li {
    position: relative;
    float: left;
    vertical-align: middle;
    line-height: 130%;
    zoom: 1;
}

ul.ty-dropdown li.hover,
ul.ty-dropdown li:hover {
    position: relative;
    z-index: 200;
    cursor: default;
}

ul.ty-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
}

ul.ty-dropdown ul li {
    float: none;
}

ul.ty-dropdown ul ul,
ul.ty-dropdown-vertical ul,
ul.ty-dropdown-vertical ul ul {
    top: 1px;
    left: 100%;
    margin-top: -7px;
}

ul.ty-dropdown li:hover > ul,
ul.ty-dropdown li:hover > span > ul {
    display: block;
}


/* For vertical menu */
ul.ty-dropdown-vertical li {
    float: none;
}

/* /For vertical menu */

/* For right to left orientation */
ul.ty-dropdown-vertical.rtl a {
    text-align: right;
}

ul.ty-dropdown-vertical.rtl ul {
    right: 100%;
    left: auto;
    margin-right: 0;
}

/* Separator */
ul.ty-dropdown-vertical > li {
    border-bottom: 1px solid transparent;
}

ul.ty-dropdown-vertical > li.b-border {
    border-bottom: 1px dotted #ccc;
}

ul.ty-dropdown-vertical > li:hover {
    border-bottom: 1px solid #ccc;
}

ul.ty-dropdown-vertical ul .b-border {
    border: none;
}

/* /Decoration for right to left orientation*/
/* /Decoration */

.ty-menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ty-menu__items {
    background: #34495e;
    position: relative;
    .clearfix();
}
.ty-menu__item {
    padding: 0px;
    display: block;
    float: left;
}
.ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background: #2b3e51;
}
.ty-menu__item:hover .ty-menu__submenu-items {
    display: block;
}
.ty-menu__item:hover .ty-menu__item-link {
    background: #1ABC9C;
    color: white;
    text-shadow: none;
}
.ty-menu__item.ty-menu__item-nodrop .ty-menu__item-link {
    padding: 9px 9px 7px 9px;
}
.ty-menu__item .ty-menu__item-link {
    color: white;
    position: relative;
    padding: 14px 20px 14px 20px;
    display: block;
}
.ty-menu__item .ty-menu__item-link:hover {
    text-decoration: none;
}
.ty-menu__item .ty-menu__item-link .ty-icon-down-micro {
    position: absolute;
    font-size: 20px;
    right: 12px;
    top: 13px;
}
.ty-menu__submenu-items {
    min-width: 145px;
    display: none;
    position: absolute;
    background: white;
    z-index: 100;
    border: 1px solid #2B3E51;
    border-top: 0px;
    padding: 15px 16px;
}
.ty-menu__submenu-items .ty-menu__submenu-item {
    margin-bottom: 10px;
}
.ty-menu__submenu-items .ty-menu__submenu-link {
    color: #1ABC9C;
}
.ty-menu__submenu-items .ty-menu__submenu-link:hover {
    color: #1ABC9C;
}
.ty-menu__submenu-items .ty-top-mine__submenu-col {
    margin: 0px 10px 0px 0px;
    display: inline-block;
    vertical-align: top;
    min-width: 140px;
}
.ty-menu__submenu-items .ty-top-mine__submenu-col:last-child {
    margin-right: 1px;
}
.ty-menu__submenu-item-header {
    min-height: 25px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
    font-weight: bold;
    color: #34495E;
}
.ty-menu__submenu-list .ty-menu__submenu-link-active {
    color: "#08c";
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
    color: #FFF;
    background: #1ABC9C;
    padding: 2px 6px;
}
.ty-menu__submenu-dropdown-bottom {
    display: block;
    background: #ECF0F1;
    margin: 0px -16px -15px;
    padding: 10px;
    text-align: right;
}

// Vertical menu

.ty-menu-vertical .ty-menu__items {
    border-bottom: 1px solid #34495E;
}
.ty-menu-vertical .ty-menu__item {
    display: block;
    float: none;
    position: relative;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu {
    display: none;
    right: 0px;
    top: 0px;
    position: absolute;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items {
    border: 1px solid #2B3E51;
    padding: 0px;
}
.ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link {
    background: #1ABC9C;
    color: white;
}

.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
    color: #1ABC9C;
    background: white;
    padding: 14px 20px;
}
.ty-menu-vertical .ty-menu__item:hover > .ty-menu__submenu {
    display: block;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover > .ty-menu__item-link {
    background: #1ABC9C;
    color: white;
}
.ty-menu-vertical .ty-menu__item .ty-icon-left-open {
    display: none;
}
.ty-menu-vertical .ty-menu__item i {
    position: absolute;
    z-index: 20;
    right: 15px;
    top: 17px;
    color: #A1A6AA;
}
.ty-menu-vertical .ty-menu__submenu-item-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 0px;
}
.ty-menu-vertical .ty-menu__item .ty-menu__item-link {
    display: block;
    white-space: nowrap;
}

// rtl
.ty-menu-vertical .ty-menu__items.rtl {
    text-align: right;
}
.ty-menu-vertical .ty-menu__items.rtl .ty-icon-right-open {
    display: none;
}
.ty-menu-vertical .ty-menu__items.rtl .ty-icon-left-open {
    left: 15px;
    right: auto;
    display: block;
}
.ty-menu-vertical .ty-menu__items.rtl .ty-menu__submenu {
    width: 202px;
    right: 100%;
    left: auto;
}
.ty-menu-vertical .ty-menu__items.rtl .ty-menu__submenu-items {
    width: 200px;
}


















