// ==========================================================================
// Modals dialogs
// ==========================================================================

body.dialog-is-open {
    overflow: hidden;
}

.ui-widget, .ui-widget button {
    font-family: 'Open Sans', sans-serif;
}

.object-container {
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px 20px;
    background: #fff;
}

.object-container .notification-content {
    top: 11px;
    right: 24px;
    min-width: 420px;
    position: absolute;
    z-index: 1510;
}

.ui-widget select,
.ui-widget textarea {
    font-weight: normal;
}

.ui-widget-content.ui-dialog {
    padding: 0;
    border: none;
    max-width: 930px;
}

.ui-dialog .ui-dialog-content {
    overflow: visible;
    padding: 0;
    min-height: 120px !important;
    .border-radius(0 0 5px 5px);
    .box-shadow(none);
}

.ui-dialog .ui-dialog-titlebar {
    padding: 13px 20px 10px;
    border:none;
    border-bottom: 1px solid #BDC3C7;
    background: #F8F9F9;
    .border-radius(0px);
}

.ui-corner-all {
    border-radius: 0px;
}

.ui-dialog .ui-resizable-se {
    right: 1px;
    bottom: 1px;
}

.ui-widget-overlay {
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url("../media/images/picker_bg_outside.png") repeat-x 0 -50% scroll #000;
    opacity: 0.7;
    filter: Alpha(Opacity=70);
}

div.ui-dialog .ui-dialog-title {
    width: auto;
    margin: 0;
    color: #2C3E50;
    font-weight: normal;
    font-size: 18px;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 27px;
    right: 13px;
    padding: 0;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: url(../media/images/icons/openhand.cur), move;
}

.ui-dialog .ty-buttons-container.picker {
    padding: 13px 0;
    width: 100%;
    border-top: 1px solid lighten(@base, 42%);
    background-color: #f9f9f9;
    .border-radius(0 0 5px 5px);
}

.ty-buttons-container-picker,
.body-bc {
    padding:0;
    width: 100%;
    .border-radius(0 0 5px 5px);
}

.ty-buttons-container-picker {
    .box-sizing(border-box);
    padding: 15px 20px;
    border: 1px solid #e3e3e3;
}

.body-bc {
    width: auto;
}

.ui-dialog .ty-buttons-container.picker > div {
    margin: 0 15px;
}

.ui-widget-header .ui-icon-closethick {
    color: lighten(@menu, 30%);
    background: none;
    margin: -10px 0 0 -10px;
    text-indent: 0;
    font: 13px/1 'glyphs';
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.ui-widget-header .ui-icon-closethick:before {
    font-family: 'glyphs';
    content: "\e009";
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover {
    border: none;
    background: none;
}
.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before {
    color: lighten(@menu, 50%);
}
.ui-widget-header .ui-state-default {
    background: none;
    border: 0;
}
.ui-dialog-dragging {
    background: #f7f7e7 none;
    opacity: 0.6;
        }
.ui-dialog-dragging .ui-resizable-handle {
    display: none;
}
.ui-dialog-dragging .ui-dialog-content {
    visibility: hidden;
}
