/* ==========================================================================
Responsive styles
========================================================================== */

@import "responsive-utilities.less";



/* ==========================================================================
Responsive: Large desktop and up 1200px
========================================================================== */

@media (min-width : 1224px) {

    // Fixed grid
    #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200);

    // Fluid grid
    #grid > .fluid(@fluidGridColumnWidth1200, @fluidGridGutterWidth1200);

    // Input grid
    #grid > .input(@gridColumnWidth1200, @gridGutterWidth1200);

/* Footer
   ========================================================================== */
    .ty-footer-grid {
        width: auto;
    }
    .ty-footer-grid__full-width {
        float: none;
        width: auto;
    }
    .ty-footer-grid__full-width > .row {
        width: 1200px;
        margin: 0 auto;
    }
    .ty-footer-menu__items {
        display: block !important;
    }
}

/* ==========================================================================
Responsive: Desktop small
========================================================================== */

@media (max-width : 1224px) {

/* Footer
   ========================================================================== */
    .ty-footer-grid {
        width: auto;
    }
    .ty-footer-grid__full-width {
        float: none;
        width: auto;
    }
    .ty-footer-grid__full-width > .row {
        width: 960px;
        margin: 0 auto;
    }

    .ty-compact-list__title {
        width: 52%;
    }
}


/* ==========================================================================
Responsive: Tablet and phone
========================================================================== */

@media (max-width: 979px) {

    .tygh-content .container, .ty-footer-menu, .footer-copyright, .tygh-header .container {
        padding: 0px 10px;
    }

/* Header
   ========================================================================== */

    .select-wrap .ty-select-block__a {
        margin-right: 0px;
    }

/* Sidebox
   ========================================================================== */

    .ty-sidebox__body {
        display: block;
    }
    .ty-sidebox__body-toggle {
        display: none;
    }

/* Currencies
   ========================================================================== */

    .top-currencies {
        margin-left: 2px;
    }

/* Cart content
   ========================================================================== */

    .popup-content .ty-cart-items {
        max-height: none;
        width: auto;
    }

/* Product Grid list
   ========================================================================== */

    .ty-grid-list__item .ty-icon-left-circle,
    .ty-grid-list__item .ty-icon-right-circle {
        visibility: visible;
    }

/* Compare products
   ========================================================================== */

    .ty-compare-menu {
        position: relative;
        height: 110px;
        width: 100%;
        background: none;
    }
    .ty-compare-menu__item {
        display: inline-block;
        text-align: center;
    }
    .ty-compare-products {
        margin-left: 0px;
    }
    .ty-compare-products__item {
        width: 218px;
    }

/* Page 404
   ========================================================================== */

    .ty-exception__code {
        display: block;
        width: 100%;
    }
    .ty-exception__title-info {
        display: block;
        padding-left: 0px;
        text-align: center;
    }
    .ty-exception__links {
        margin: 0px;
    }
    .ty-exception__links-item {
        float: none;
        display: inline-block;
        margin: 0 5px;
    }

/* footer
   ========================================================================== */
    h3.ty-social-link__title {
        display: block;
        margin-top: 21px;
        margin-bottom: 10px;
    }

/* Footer
   ========================================================================== */
   .ty-payment-icons .ty-payment-icons__item {
    margin-left: 5px;
   }

/* Menu
   ========================================================================== */

.ty-menu__items {
    background: #34495e;
}
.ty-menu__items .ty-menu__items-show {
    display: block !important;
    border-bottom: 0px;
}
.ty-menu__item {
    display: none;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #2C3E50;
    padding: 0px;
    position: relative;
}
.ty-menu__item:hover .ty-menu__submenu-items {
    display: none;
}
.ty-menu__item:hover .ty-menu__item-link {
    background: none;
    color: white;
}
.ty-menu__item.ty-menu__item-active:hover .ty-menu__item-link {
    background: #2b3e51;
}
.ty-menu__item:last-child {
    box-shadow: none;
    border-bottom: 0px;
}
.ty-menu__item .ty-menu__item-toggle-active {
    background: #2b3e51;
}
.ty-menu__item .ty-menu__item-link {
    position: static;
}
.ty-menu__submenu .ty-menu__submenu-items {
    padding: 0px;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item {
    border-bottom: 1px solid #d8d8d8;
    margin: 0px;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item .ty-menu__submenu-link {
    display: block;
    padding: 12px 30px 12px 40px;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
    color: black;
    background: none;
}
.ty-menu__submenu .ty-top-mine__submenu-col {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item {
    position: relative;
    padding: 0px;
    padding-left: 35px;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-list {
    display: none;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle-active {
    background: #e0e0e0;
}
.ty-menu__items .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle {
    color: #bfbfbf;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
    display: block;
    min-height: inherit;
    margin: 0px;
    padding: 14px 40px 13px;
    border-bottom: 1px solid #d8d8d8;
    text-transform: uppercase;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header .ty-menu__submenu-link-active {
    padding: 6px 8px;
    background: #e0e0e0;
}
.ty-menu__menu-btn {
    border-bottom: 0px;
    box-shadow: none;
}
.ty-menu__submenu-items {
    background: #ededed;
    position: static;
}
.ty-icon-short-list {
    padding-right: 4px;
}
.ty-menu__item-toggle {
    width: 50px;
    height: 46px;
    position: absolute;
    text-align: center;
    font-size: 35px;
    right: 0px;
    z-index: 100;
    color: white;
    top: 0px;
    cursor: pointer;
}
.ty-menu__item-toggle .ty-icon-down-open {
    line-height: 45px;
}
.ty-menu__submenu-dropdown-bottom {
    margin: auto;
}


// Vertical
.ty-menu-vertical {
    margin-bottom: 40px;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu {
    position: static;
    display: block;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
    background: none;
}
.ty-menu-vertical .ty-menu__submenu .dropdown-vertical__dir .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #34495E;
    text-transform: uppercase;
    font-weight: bold;
}
.ty-menu-vertical .ty-menu__submenu .ty-menu__submenu .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #1ABC9C;
    text-transform: none;
    font-weight: normal;
}
.ty-menu-vertical .ty-menu__item-toggle i {
    top: 3px;
}
.ty-menu-vertical .ty-menu__submenu .ty-menu__submenu .ty-menu__submenu-item-header {
    padding-left: 40px;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu-items .ty-menu__submenu-items {
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover > .ty-menu__item-link {
    background: none;
    color: #1ABC9C;
}
.ty-menu-vertical .ty-menu__submenu-items .dropdown-vertical__dir .ty-menu__item-toggle-active {
    background: #E0E0E0;
    color: #BFBFBF;
}
.ty-menu-vertical .ty-menu__submenu-item-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-height: none;
    border-bottom: none;
}
.ty-menu-vertical .ty-menu__submenu-item-header .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #1ABC9C;
    text-transform: none;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover i {
    color: #A1A6AA !important;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items {
    border: 1px solid #2B3E51;
    border-top: 0px;
    border-bottom: 0px;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-items {
    border: 0px;
}
.ty-menu-vertical .ty-menu__submenu-items .ty-menu__item {
    border-top: 1px solid #D8D8D8;
    border-bottom: 0px;
}
.ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link {
    background: none;
    color: inherit;
}

// rtl
.ty-menu-vertical .ty-menu__items.rtl .ty-menu__submenu {
    width: auto;
}
.ty-menu-vertical .ty-menu__items.rtl .ty-menu__submenu-items {
    width: auto;
}

.ty-menu-vertical .ty-menu__items.rtl .ty-menu__item-toggle {
    left: 0px;
}

/* Sort
   ========================================================================== */
.ty-sort-container {
    padding-left: 0px;
}


/* Product detail
   ========================================================================== */
.ty-product-block__note {
    width: 100%;
}

.ty-compact-list__title {
    width: 45%;
}

/* Product option */
.ty-product-options__item-label {
    display: block;
    width: 100%;
    float: none;
}
.ty-product-variant-image {
    margin-left: 0;
}
.ty-product-options__description,
.ty-product-block__option .help-inline {
    margin-left: 0;
}

/* Checkout
   ========================================================================== */
/* Multi checkout */
.ty-multi-checkout__step {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
.ty-multi-checkout__arrow {
    display: none;
}

/* Pagination
   ========================================================================== */
.ty-pagination__text {
    display: none;
}
} /* Tablet and phone */




/* ==========================================================================
Responsive: Tablet to desktop
========================================================================== */

@media (min-width: 768px) and (max-width: 979px) {

    // Fixed grid
    #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

    // Fluid grid
    #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

    // Input grid
    #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

/* Footer
   ========================================================================== */
    .ty-footer-grid {
        width: auto;
    }
    .ty-footer-grid__full-width {
        float: none;
        width: auto;
    }
    .ty-footer-grid__full-width > .row {
        width: 736px;
        margin: 0 auto;
    }
    .ty-social-link__title {
        margin-right: 70px;
    }
    .ty-social-link {
        margin-right: 60px;
    }
    .ty-footer-menu__items {
        display: block !important;
    }

}


/* ==========================================================================
Responsive: Landscape phone to desktop/tablet
========================================================================== */


@media (max-width: 767px) {

/* Custom
   ========================================================================== */
   .top-menu-grid {
    margin-top: 0px;
   }
   .tygh-top-panel {
        margin-bottom: 18px;
   }
   .ty-logo-container {
        text-align: center;
        margin: 10px 0px 30px;
   }

/* Notifications
   ========================================================================== */
    .notification-container {
        top: 0;
        right: 0px;
        min-width: 100%;
        width: 100%;
    }
    .notification-content {
        margin: 0px;
        border: none;
    }
    .notification-content .close {
        top: 8px;
        right: 20px;
    }

/* Tables
   ========================================================================== */
    .ty-table table,
    .ty-table thead,
    .ty-table tbody,
    .ty-table th, 
    .ty-table td, 
    .ty-table tr { 
        display: block; 
    }
    .ty-table {
        border: none;
        display: block;
    }
    .ty-table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .ty-table tr {
        border: 1px solid #ccc;
    }
    .ty-table td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 40%; 
        white-space: normal;
        word-break: break-all;
        text-align:left;
        min-height: 18px;
        width: auto !important;
    }
    .ty-table tr td:last-child {
        border-bottom: 0px;
    }
    .ty-table td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 35%;
        word-break: normal;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
        padding: 7px;
    }
    .ty-table__no-items td {
        padding: 0px;
    }
    .ty-table__no-items .ty-no-items {
        margin-bottom: 0px;
    }
    .ty-table.hidden, .ty-table .hidden {
        display: none;
    }

/* Cart content
   ========================================================================== */
   .cart-right-buttons {
        float: left;
   }
   .cart-left-buttons {
        float: none;
   }
   .ty-cart-total {
        margin-top: 20px;
   }
   .ty-cart-total .coupons-container {
        float: none;
   }
   .ty-statistic-list {
        float: left;
        width: 100%;
   }
   .ty-statistic-list .ty-cart-statistic__title {
        width: 50%;
        text-align: left;
   }

/* Logo
   ========================================================================== */

    .logo-container {
        text-align: center;
        min-height: inherit;
    }


/* Account
   ========================================================================== */

    .top-links-grid .ty-dropdown-box {
        background: none;
    }
/* Account & benefits
   ========================================================================== */
   .account-benefits {
        margin: 0px 0px 30px 0px;
   }



/* Sidebox
   ========================================================================== */

    .ty-sidebox__body {
        display: none;
    }
    .ty-sidebox__body-toggle {
        display: block;
    }

/* Cart content
   ========================================================================== */

    .top-cart-content {
        margin: 13px 0px;
    }

/* Product list
   ========================================================================== */
    .ty-grid-list__item:hover {
        border-radius: 0px;
        background: transparent;
    }
    .ty-quick-view-button {
        display: none;
        margin-bottom: 30px;
    }
    .product-list__control {
        float: none;
        margin-bottom: 10px;
    }
    .product-list__image {
        float: none;
        margin: 0px 0px 20px 0px;
        width: 100%;
        text-align: center;
    }

/* Product compact list
   ========================================================================== */

    .ty-compact-list__content {
        float: none;
        .clearfix();
    }
    .ty-compact-list__controls {
        float: right;
    }
    .ty-compact-list__title {
        margin-bottom: 20px;
    }
    .ty-compact-list__image {
        padding: 0px 10px;
        width: 20%;
    }
    .ty-compact-list__image .ty-discount-label {
        display: inline-block;
        height: 30px;
        position: static;
        float: none;
    }
    .ty-sidebox {
        margin-bottom: 10px;
    }
    .ty-sidebox:last-child {
        margin-bottom: 30px;
    }

/* Product detail
   ========================================================================== */
    .ty-product-block__left {
        overflow: visible;
    }
    .ty-product-block__img-wrapper {
        width: 100%;
        float: none;
        text-align: center;
        .clearfix();
    }
    .ty-product-block__img-wrapper .ty-no-image {
        width: 100% !important;
    }
    .ty-product-block__img-wrapper .ty-pict {
        max-width: 100%;
        height: auto;
    }

/* Profile field
========================================================================== */
    .ty-account-detail {
        margin-left: 0;
        background: none;
        padding-bottom: 0;
    }
    .ty-profile-field__switch-label {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .ty-profile-field__switch-actions {
        float: none;
        text-align: center;
    }
    .ty-billing-first-name,
    .ty-billing-last-name,
    .ty-shipping-first-name,
    .ty-shipping-last-name,
    .ty-billing-country,
    .ty-billing-state,
    .ty-shipping-country,
    .ty-shipping-state,
    .ty-first-name,
    .ty-last-name {
        width: 100%;
    }
    .ty-billing-first-name + .ty-billing-last-name,
    .ty-billing-country + .ty-billing-state,
    .ty-shipping-first-name + .ty-shipping-last-name,
    .shipping-country + .ty-shipping-state,
    .ty-first-name + .ty-last-name {
        margin-left: 0;
    }

/* Login information
========================================================================== */
    .ty-login-info {
        margin: 30px 0 0;
    }

/* Account benefits (Block)
   ========================================================================== */
    .ty-account-benefits {
        margin: 30px 0 0;
    }

/* Features All
   ========================================================================== */
    .ty-features-all {
        text-align: center;
    }
    .ty-feature__image {
        float: none;
    }

/* Sitemap
   ========================================================================== */
    .ty-sitemap__tree-section-list,
    .ty-sitemap__section-wrapper {
        width: 50%;
    }

/* Breadcrumbs
   ========================================================================== */
    .ty-breadcrumbs {
        padding-right: 10px;
    }
    .ty-product-switcher {
        position: relative;
        top: 10px;
        text-align: center;
    }
    .ty-product-switcher__a {
        position: relative;
        top: 0;
        vertical-align: middle;
        font-size: 20px;
    }
    .ty-product-switcher__a-left,
    .ty-product-switcher__a-right {
        float: none;
    }
    .ty-product-switcher__a-left {
        margin-right: 10px;
    }
    .ty-product-switcher__a-right {
        margin-left: 10px;
    }
    .ty-product-switcher span {
        font-size: 100%;
    }

/* Checkout
   ========================================================================== */
    .ty-checkout__login {
        float: none;
        padding: 0 15px;
        width: 100%;
        .box-sizing(border-box);
    }
    .ty-checkout__register {
        float: none;
        padding: 0 15px;
        margin: 0;
        width: 100%;
        .box-sizing(border-box);
    }
    .ty-checkout__register-content {
        padding-left: 0;
    }
    .ty-checkout__register-methods {
        margin-top: 0;
    }

    .ty-checkout-buttons__submit-order {
        padding-bottom: 20px;
    }

/* Compare products
   ========================================================================== */

    .ty-compare-products__product {
        display: block;
    }
    .ty-compare-products__item {
        width: auto;
    }
    .ty-compare__buttons .ty-btn {
        display: table;
        margin: 5px auto;
    }
    .ty-compare__buttons .ty-btn + .ty-btn {
        margin-left: auto;
    }
    .ty-compare-products__product {
        display: block;
    }
    .ty-compare-products__item {
        width: auto;
    }

/* Block Benefits & Guarantees
   ========================================================================== */
    .ty-benefits-guarantees {
        margin-bottom: 0;
    }
    .ty-benefits-guarantees__item {
        display: block;
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .ty-benefits-guarantees__item:last-child {
        margin-right: auto;
    }

/* Search
   ========================================================================== */

    .search-block-grid {
        margin-top: 0px !important;
    }

/* Footer
   ========================================================================== */
   .ty-social-link-block {
        margin-top: 10px;
        text-align: center;
    }
    .ty-footer-grid {
        width: auto;
    }
    .ty-footer-grid__full-width {
        float: none;
        width: auto;
    }
    .ty-footer-grid__full-width .ty-float-right,
    .ty-footer-grid__full-width .ty-float-left {
        float: none;
    }
    .ty-footer-grid__full-width > .row {
        width: auto;
        margin: 0 auto;
    }
    .ty-footer-menu__items {
        margin-top: 0;
        display: none;
    }
    .ty-footer-menu__item {
        padding: 15px 0px 15px 0px;
        border-bottom: 1px solid rgb(223, 223, 223);
        padding-left: 20px;
    }
    .ty-footer-menu__header {
        padding: 15px 30px 15px 0;
        border-bottom: 1px solid #dfdfdf;
    }
    .ty-footer-menu__icon-open,
    .ty-footer-menu__icon-hide {
        position: absolute;
        top: 12px;
        right: 0;
        font-size: 40px;
        color: #bfbfbf;
        cursor: pointer;
    }
    .ty-footer-menu__icon-open {
        display: block;
    }
    .ty-footer-menu__header.open .ty-footer-menu__icon-hide {
        display: block;
    }
    .ty-footer-menu__header.open .ty-footer-menu__icon-open {
        display: none;
    }

    // Remove padding on container given explicit padding set on body
    .container-fluid {
        padding: 0;
    }

    // GRID & CONTAINERS
    // -----------------
    // Remove width from containers
    .container {
        width: auto;
    }
    // Fluid rows
    .row-fluid {
        width: 100%;
    }
    // Undo negative margin on rows and thumbnails
    .row,
    .thumbnails {
        margin-left: 0;
    }
    // Make all grid-sized elements block level again
    [class*="span"],
    .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
    .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        .box-sizing(border-box);
    }
    .span12,
    .row-fluid .span12 {
        width: 100%;
        .box-sizing(border-box);
    }
    .row-fluid [class*="offset"]:first-child {
        margin-left: 0;
    }

/* Cart menu
   ========================================================================== */
    .ty-cart-items {
        width: 256px;
    }
    
    .ty-cart-items__list-item-desc {
        width: 187px;
    }

    .ty-cart-items__list-item-tools {
        right: -10px;
        display: block;
    }

}

/* ==========================================================================
Responsive: Phone
========================================================================== */

@media screen and (max-width: 480px) {

    .ty-search-form input[type="text"] {
        margin: 4px 0px;
        width: 100%;
    }
    .ty-features-all .ty-column6 {
        width: 50%;
    }
    .ty-product-list__image {
        float: none;
        margin-bottom: 25px;
        margin-right: 0px;
        text-align: center;
    }
    .ty-sitemap__tree-section-list,
    .ty-sitemap__section-wrapper {
        width: 100%;
        min-height: 0;
    }
    .ty-compact-list__controls {
        float: right;
        .clearfix();
    }
    .ty-compact-list__image {
        width: 30%;
    }
    .ty-compact-list__title {
        width: 60%;
    }
   

/* Pagination
   ========================================================================== */
    .ty-pagination {
        text-align: center;
    }
    .ty-pagination__btn {
        width: 94%;
    }
    .ty-pagination__items {
        margin: 15px 0;
    }
    .ty-pagination__item {
        padding: 5px 6px;
    }
    .ty-pagination__text {
        display: inline-block;
    }

    .ty-checkout__billing-tabs .ty-tabs {
        padding: 0px;
    }

    .ty-checkout__billing-tabs .ty-tabs__item {
        float: none;
    }
    .ty-product-coming-soon {
        position: static;
    }
}

