// ==========================================================================
// Theme Editor scheme
// ==========================================================================

//Fonts
@body_font: Arial, Helvetica, sans-serif;
@body_font_size: 13px;
@body_font_weight: normal;
@body_font_style: normal;
@body_font_decoration: none;

@links_font: Arial, Helvetica, sans-serif;
@links_font_size: 13px;
@links_font_weight: normal;
@links_font_style: normal;
@links_font_decoration: none;

@buttons_font: Arial, Helvetica, sans-serif;
@buttons_font_weight: normal;
@buttons_font_style: normal;
@buttons_font_decoration: none;
@buttons_font_size: 11px;

@headings_font: Arial, Helvetica, sans-serif;
@headings_font_weight: normal;
@headings_font_style: normal;
@headings_font_decoration: none;
@headings_font_size: 26px;

@price_font: Arial, Helvetica, sans-serif;
@price_font_weight: normal;
@price_font_style: normal;
@price_font_decoration: none;
@price_font_size: 32px;

//Rounded corners
.rounded_corners (off) {
    border-radius: 0 !important;
}
.rounded_corners (on) {

}

//Backgrounds
@background: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: ~'';
@general_bg_scroll: ~'';
@general_bg_position: ~'';

.gradient (@startColor, @endColor) {
    background-color: @endColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor)));
}
@top_panel_bg_color: #f5f5f5;
@top_panel_bg_grad_stop: #efefef;
@top_panel_bg_color_full: #f5f5f5;
@top_panel_bg_grad_stop_full: #efefef;
@header_bg_color: #ffffff;
@header_bg_grad_stop: #ffffff;
@header_bg_color_full: #ffffff;
@header_bg_grad_stop_full: #ffffff;
@content_bg_color: #ffffff;
@content_bg_color_full: #ffffff;
@content_bg_grad_stop_full: #ffffff;
@footer_bg_color: #f3f3f3;
@footer_bg_grad_stop: #f3f3f3;
@footer_bg_color_full: #f3f3f3;
@footer_bg_grad_stop_full: #f3f3f3;

body {
    background: @general_bg_color @general_bg_image @general_bg_position @general_bg_repeat @general_bg_scroll;
}
.tygh-header {
    .gradient (@header_bg_color_full, @header_bg_grad_stop_full);
}
.tygh-header > div {
    .gradient (@header_bg_color, @header_bg_grad_stop);
}
.tygh-content > div {
    background: @content_bg_color;
}
.tygh-content {
    background: @content_bg_color_full;
}
.tygh-footer > div {
    .gradient (@footer_bg_color, @footer_bg_grad_stop);
}
.tygh-footer {
    .gradient (@footer_bg_color_full, @footer_bg_grad_stop_full);
}

//Colors
@links: #08c;
@menu_links: #ffffff;
@menu: #5f5f5f;
@base: #808080;
@primary_button: #fb8913;
@secondary_button: #d9d9d9;
@footer: lighten(@base, 45%);

.inner-shadow (@x: 0, @y: 1px, @blur: 0, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
}
.inner-shadow-dark (@x: 0, @y: 1px, @blur: 0, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.drop-shadow-light (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
    box-shadow: @x @y @blur @spread rgba(255, 255, 255, @alpha);
}
.border-radius (@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}


@slider: desaturate(@links, 30%);
@font: #333333;

.ty-icon-cancel.small {
    color: lighten(@base, 50%);
}

// Header
@top_panel_links: #0088cc;
@top_panel_text: #444;
.top_panel_links (@top_panel_bg_color_links) when (lightness(@top_panel_bg_color_links) < 73%) {
    color: #fff;
}
.top_panel_dropdown (@top_panel_bg_color_dropdown) when (lightness(@top_panel_bg_color_dropdown) < 73%) {
    color: lighten(@top_panel_bg_color, 60%);
}
.top_panel_dropdown_border (@top_panel_bg_color_dropdown_border) when (lightness(@top_panel_bg_color_dropdown_border) < 90%) {
    border-color: darken(@top_panel_bg_color, 7%);
}
.top_panel_dropdown_hover (@top_panel_bg_color_dropdown_hover) when (lightness(@top_panel_bg_color_dropdown_hover) < 70%) {
    color: darken(@top_panel_bg_color, 10%);
}

// Footer
@footer_bg_grad_stop: #f3f3f3;
@footer_text: #808080;

//Red colors with #A80006 color
@price: #A80006;
@out_of_stock: #A80006;

//Green colors with #62AD00 color
@in_stock: #62ad00;
@discount_label: #62ad00;

.ty-icon-left-circle,
.ty-icon-right-circle{
    color: darken(@base, 10%);
}

.ty-icon-left-circle:hover,
.ty-icon-right-circle:hover{
    color: darken(@base, 43%);
}

//Decorative gradient elements
@decorative: #e3e3e3;
