/* ==========================================================================
Reward points
========================================================================== */
.ty-reward-points__info {
    margin-top: 10px;
}
.ty-reward-points__points-in-use {
    display: block;
    overflow: hidden;
    padding-top: 5px;
}
.ty-reward-points__delete-icon {
    position: relative;
    top: 3px;
}
.ty-reward-points-userlog {
    width: 100%;
}
.ty-reward-points-userlog__date {
    width: 20%;
}
.ty-reward-points-userlog__points {
    width: 10%;
}
.ty-reward-points-userlog__reason {
    width: 70%;
}
/* /Reward points */