/* ==========================================================================
Buy together Responsive
========================================================================== */

/* Responsive: Tablet and phone
========================================================================== */

@media (max-width: 979px) {
    .ty-buy-together__products {
        white-space: normal;
    }
    .ty-buy-together__product {
        width: 175px;
    }
}
/* Responsive: Landscape phone to desktop/tablet
========================================================================== */

@media (max-width: 767px) {
    .ty-buy-together__product {
        display: block;
        margin: 0;
        width: 100%;
    }
    .ty-buy-together__plus {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .ty-buy-together-notification__item {
        margin-left: 0px;
    }
    .ty-buy-together-notification__item-link {
        max-width: 80%;
    }
    .ty-product-notification__price {
        margin-left: 0px;
    }
    .ty-product-notification__body ul ul {
        margin-left: 20px;
    }
    .ty-buy-together-notification__items {

    }
    .ty-buy-together-notification__items .ty-buy-together-notification__items .ty-buy-together-notification__item {
        padding-left: 20px;
    }
}
/* /Buy together responsive */