/* ==========================================================================
Gift certificate Responsive
========================================================================== */

/* Responsive: Landscape phone to desktop/tablet
========================================================================== */

@media (max-width: 767px) {
    .ty-gift-certificate-verify {
        min-width: 280px;
    }
    .ty-gift-certificate-verify__row {
        display: block;
    }

}
/* /Gift certificate responsive*/